<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj nową operację</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<style>
    body {
        background: #afeeee;
    }
    .form-signin {
        border-radius: 10px;
        background-color: #fff;
        padding: 30px;
    }
</style>
<body>
<div class="container" align="center">
    <form class="form-signin" method="post" action="/addOperationBetweenAccounts">
        <h2 class="form-signin-heading">Dodaj nową operację między kontami</h2>
        <br>
        <div align="left">Nazwa operacji</div>
        <p>
            <input type="text" id="label" name="label" class="form-control" placeholder="Nazwa" required autofocus>
        </p>
        <div align="left">Kategoria operacji</div>
        <p>
            <input type="text" id="category" name="category" class="form-control" placeholder="Kategoria">
        </p>
        <div align="left">Opis operacji</div>
        <p>
            <input type="text" id="description" name="description" class="form-control" placeholder="Opis">
        </p>
        <div align="left">Kwota operacji</div>
        <p>
            <input type="number" id="amount" name="amount" class="form-control" placeholder="Kwota"required>
        </p>
        <div align="left">Nazwa drugiego konta</div>
        <p>
            <input type="text" id="anotherName" name="anotherName" class="form-control" placeholder="Nazwa konta"required>
        </p>
        <button class="btn btn-outline-primary btn-lg btn-block" type="submit">Dodaj operację</button>
    </form>
</div>
</body>
</html>