<!DOCTYPE html>
<html lang="aplication" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rejestracja</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <style>
body {
    background: #afeeee;
}
.form-signin {
    border-radius: 10px;
    background-color: #fff;
    padding: 30px;
}
    </style>
</head>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/registerNewHome">
        <h2 class="form-signin-heading">Proszę się zarejestrować, aby utworzyć nowy dom</h2>
        <br>
        <div align="left">Nazwa konta</div>
        <p>
            <input type="text" id="username" name="username" class="form-control" placeholder="Nazwa konta" required autofocus>
        </p>
        <div align="left">Hasło</div>
        <p>
            <input type="password" id="password" name="password" class="form-control" placeholder="Hasło" required>
        </p>
        <div align="left">Nazwa domu</div>
        <p>
            <input type="text" id="homeName" name="homeName" class="form-control" placeholder="Nazwa domu" required>
        </p>
        <button class="btn btn-outline-danger btn-lg btn-block" type="submit">Zarejestruj</button>
    </form>
</div>
</body>
</html>