<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>User Page</title>
    <style>
        body {
            background: #afeeee;
        }
    </style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script type="text/javascript" th:inline="javascript">
        // Load google charts
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);

        // Draw the chart and set the chart values
        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Topping');
            data.addColumn('number', 'Slices');
            data.addRows([[${chartData}]]);

            // Optional; add a title and set the width and height of the chart
            var options = {'title':'My Average Day', 'width':500, 'height':500};

            // Display the chart inside the <div> element with id="piechart"
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data, options);
        }
    </script>
</head>
<body>
    <div class="w3-bar w3-blue">
        <form method="get" action="/homePage">
            <button class="w3-button w3-blue w3-hover-cyan w3-left" type="submit">Home</button>
        </form>

        <div class="w3-dropdown-hover">
            <button class="w3-button w3-hover-cyan w3-blue">Add new operation</button>
            <div class="w3-dropdown-content w3-bar-block w3-border">
                <a href="/regularOperation" class="w3-bar-item w3-button">Add regular operation</a>
                <a href="/operationBetweenAccounts" class="w3-bar-item w3-button">Add operation with another home's account</a>
                <a href="/cyclicOperation" class="w3-bar-item w3-button">Add cyclic operation</a>
            </div>
        </div>
        <form method="get" action="/updateCyclicOperations">
            <button class="w3-button w3-hover-cyan w3-blue w3-left">Update cyclic Operations</button>
        </form>
        <form method="get" action="/logout">
            <button class="w3-button w3-blue w3-hover-red w3-right" type="submit">Sign out</button>
        </form>
    </div>
    <br>
    <div align="center">
        <div sec:authorize="isAuthenticated()">
            <h2> Welcome <span th:text="${userInfo.getUsername()}">Username</span></h2>
        </div>
    </div>

    <br>
    <br>
    <br>
    <h1>My Web Page</h1>

    <div id="piechart"></div>


    <br>
    <div class="w3-container">
        <ul class="w3-ul w3-card-4 w3-white">
            <li class="w3-bar" th:each="operation : ${userInfo.getAccount().getOperations()}">
                <a th:href="@{/deleteOperation(operationId=${operation.getId()})}" class="w3-bar-item w3-button w3-white w3-xlarge w3-hover-red w3-right">×</a>
                <div class="w3-bar-item">
                    <h3 th:text="${operation.getLabel()}">Label</h3>
                    <p5>Category: </p5>
                    <p5 th:text="${operation.getCategory()}">Category</p5><br>
                    <p5>Description: </p5>
                    <p6 th:text="${operation.getDescription()}">Description</p6><br><br>
                    <p6>Creation date:</p6>
                    <p6  style="padding-left: 100px">Next update date:</p6><br>
                    <p6 th:text="${#calendars.format(operation.getCreationDate(),'dd-MM-yyyy HH:mm')}">Creation Date</p6>
                    <p6 th:text="${#calendars.format(operation.getNextUpdateDate(),'dd-MM-yyyy HH:mm')}" style="padding-left: 70px">Next Update Date</p6>
                </div>
                <div class="w3-bar-item w3-right" style="padding-right: 50px">
                    <br>
                    <h3 th:text="${operation.getAmount()}">Amount</h3><br>
                </div>

            </li>
        </ul>
    </div>

</body>
</html>